{% block body%}

<!-- <div class="container-fluid px-0">
  <img
    src="/static/option.jpg"
    class="d-block w-100"
    height="500px"
    alt="Error image loading"
  />
</div> -->
<div class="container">
  <h1 class="text-center">Option-Price Calculator</h1>
  <h2>Two-step Binomial Model</h2>
  <h3>Info Required</h3>
  <form method="POST" action="/two_step">
    {% csrf_token %}
    <div class="mb-3">
      <label for="strike" class="form-label">Strike-Price</label>
      <input
        type="text"
        class="form-control"
        id="strike"
        name="strike"
        placeholder="Enter type of option"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3">
      <label for="current" class="form-label">Current-Stock-Price</label>
      <input
      style="margin-top: 6px;"
        type="text"
        class="form-control"
        id="current"
        name="current"
        placeholder="Enter the Current Price"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3">
      <label for="type" class="form-label">Type-of-option</label>
      <input
      style="margin-top: 6px;"
        type="text"
        class="form-control"
        id="type"
        name="type"
        placeholder="Enter type of option"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3">
      <label for="rate" class="form-label">Risk-Free-Rate</label>
      <input
      style="margin-top: 6px;"
        type="number"
        step="0.001"
        class="form-control"
        id="rate"
        name="rate"
        placeholder="Enter risk-free-rate per annum"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3">
      <label for="upfactor" class="form-label">up-factor</label>
      <input
      style="margin-top: 6px;"
        type="number"
        step="0.001"
        class="form-control"
        id="upfactor"
        name="upfactor"
        placeholder="Enter the up-factor"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3">
      <label for="downfactor" class="form-label">down-factor</label>
      <input
      style="margin-top: 6px;"
        type="number"
        step="0.001"
        class="form-control"
        id="downfactor"
        name="downfactor"
        placeholder="Enter the down-factor"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3">
      <label for="timeperiod" class="form-label">Time-period</label>
      <input
      style="margin-top: 6px; margin-bottom: 6px;"
        type="number"
        step="0.001"
        class="form-control"
        id="timeperiod"
        name="timeperiod"
        placeholder="Enter the time-period in months"
        aria-describedby="emailHelp"
      />
    </div>
    <button style="margin-top: 10px;" type="submit" class="btn btn-primary">Submit</button>
  </form>
  <h3>Results</h3>
  Type of Option = {{type}}<br />
  Rate = {{rate}}<br />
  Up-factor = {{upfactor}}<br />
  Down-factor = {{downfactor}}<br />
  Time-period = {{timeperiod}}<br />
  Strike-price = {{strike}}<br />
  Current Stock-price = {{current}}<br />
  Option Price = {{optionPrice}}
</div>

{% endblock body%}
